body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #e2cd64, #f1a044);
}

h1 {
    color: #3a3a3a;
    margin-bottom: 20px;
}

p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}